USE [master]
GO
/****** Object:  Database [dbPruebaTecnicaDASS]    Script Date: 12/12/2017 1:18:26 AM ******/
CREATE DATABASE [dbPruebaTecnicaDASS]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPruebaTecnicaDASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPruebaTecnicaDASS]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 12/12/2017 1:18:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[IdContenido] [int] NOT NULL,
	[Nombre] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Contenidos]    Script Date: 12/12/2017 1:18:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenidos](
	[IdContenido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[TipoContenido] [nvarchar](20) NULL,
	[Contenido] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContenido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 12/12/2017 1:18:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[IdEtiquetas] [int] IDENTITY(1,1) NOT NULL,
	[IdContenido] [int] NOT NULL,
	[Nombre] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEtiquetas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD FOREIGN KEY([IdContenido])
REFERENCES [dbo].[Contenidos] ([IdContenido])
GO
ALTER TABLE [dbo].[Etiquetas]  WITH CHECK ADD FOREIGN KEY([IdContenido])
REFERENCES [dbo].[Contenidos] ([IdContenido])
GO
USE [master]
GO
